<%= simple_form_for([@task.project,@task],:remote => true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%#= f.hidden_field :project,:value => @task.project %>
    <%#= f.association :created_by %>
    <%= f.input :status, collection: Task.statuses.keys, include_blank: false %>
    <%= f.input :developer_id, collection: User.all.map{|user| [user.email,user.id]} , include_blank: false, selected: (@task.developer ? @task.developer.id : current_user.id) %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
