<% developers = task.roles.first.users.pluck(:email).join(', ') %>
<tr id="<%= dom_id(task) %>">
	<!-- <td><%#= task.project.name %></td> -->
	<td><%= task.title %></td>
	<td><%= task.description %></td>
	<td><%= task.created_by.email %></td>
	<td><%= developers %></td>
	<td><%= task.status %></td>
	<td><%= link_to 'Edit', edit_project_task_path(task.project,task) ,:remote => true if can? :update,task  %></td>
	<td><%= link_to 'Destroy', project_task_path(task.project.id,task),:remote => true, method: :delete, data: { confirm: 'Are you sure?' } if can? :delete,Task %></td>
</tr>