<% if @task %>
$('#<%= @task.status %> .table tbody').prepend('<%= escape_javascript(render partial: @task) %>');

$('span#total-tasks-count').html("<%= @task.project.tasks.size %>")
$('span#on-hold-count').html("<%= @task.project.tasks.on_hold.size %>")
$('span#in-progress-count').html("<%= @task.project.tasks.in_progress.size %>")
$('span#completed-count').html("<%= @task.project.tasks.completed.size %>")

$('#tasks-stat-graph').html("<img src='<%= Gchart.pie_3d(:title => @task.project.name, :labels => Task.statuses.keys, :data => [@task.project.tasks.on_hold.size,@task.project.tasks.in_progress.size,@task.project.tasks.completed.size], :size => '400x200') %>'/>")
	



$('#new-modal').modal('hide');
<% end %>