<%
output='<div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Task</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">'
output=output + (render "form",:task => @task)
output=output + '</div>

    </div>
  </div>'
%>
$("body #new-modal").html('<%= escape_javascript(raw(output)) %>');

$('#new-modal').modal('show');