<%= simple_form_for(@project,:remote => true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%#= f.association :created_by, :label_method => :email, :value_method => :id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class=>'btn-primary' %>
  </div>
<% end %>
