<% if can? :read,project %>
<tr id="<%= dom_id project %>">
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.created_by.email %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project),:remote => true if can? :update,Project %></td>
        <td><%= link_to 'Destroy', project, :remote => true, method: :delete, data: { confirm: 'Are you sure?' } if can? :delete,Project %></td>
</tr>
<% end %>