<h1>Projects</h1>
<br/>
<%= link_to raw('New Project>'), new_project_path, :class => 'btn btn-primary',:remote => true if can? :create,Project %>
<br/><br/>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <%= render partial: @projects %>
  </tbody>
</table>

<br/>
<%= will_paginate @projects %>

