
<%= link_to 'Back', projects_path %> | <%= link_to 'Edit', edit_project_path(@project),:remote => true if can? :update,Project %>
<h1><%= @project.name %></h1>
<p><%= @project.description %></p>




<div class="row">
  <div id="tasks-stat-graph" class="col">
	<img src="<%= Gchart.pie_3d(:title => @project.name, :labels => Task.statuses.keys, :data => [@on_hold_tasks.size,@in_progress_tasks.size,@completed_tasks.size], :size => '400x200') %>"/>
	</div>
	<div class="col pie_chart_details">
		<p>
        <strong>Total Tasks</strong> : <span id="total-tasks-count"><%= @project_tasks.size %></span><br/>
		<strong>On Hold</strong> : <span id="on-hold-count"><%= @on_hold_tasks.size %></span><br/>
		<strong>In Progress</strong> : <span id="in-progress-count"><%= @in_progress_tasks.size %></span><br/>
		<strong>Completed</strong> : <span id="completed-count"><%= @completed_tasks.size %></span>
		</p>
	</div>
</div>
<p>
  <strong>Created by:</strong>
  <%= @project.created_by.email %>
</p>

<section class="container task-list">


        <div class="row">
        	<div class="col-md-10 text-center">
                <h2>Tasks</h2>
            </div>
            <div class="col-md-2 text-center">
                <div class="text-center">
                    <%= link_to 'New Task', new_project_task_path(@project),:remote => true, :class => 'btn btn-primary' %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul id="tabsJustified" class="nav nav-tabs">
                    <li class="nav-item"><a href="" data-target="#on_hold" data-toggle="tab" class="nav-link small text-uppercase active">On Hold</a></li>
                    <li class="nav-item"><a href="" data-target="#in_progress" data-toggle="tab" class="nav-link small text-uppercase">In Progress</a></li>
                    <li class="nav-item"><a href="" data-target="#completed" data-toggle="tab" class="nav-link small text-uppercase">Completed</a></li>
                </ul>
                <br>
                <div id="tabsJustifiedContent" class="tab-content">
                    <div id="on_hold" class="tab-pane fade active show">
						<table class="table">
						  <thead>
						    <tr>
                  <!-- <th>Project</th> -->
						      <th>Title</th>
						      <th>Description</th>
						      <th>Created by</th>
						      <th>Assigned to</th>
						      <th>Status</th>
						      <th colspan="3"></th>
						    </tr>
						  </thead>

						  <tbody>
						  <%= render partial: "tasks/task", collection: @on_hold_tasks, as: :task %>
						  </tbody>
						</table>


                    </div>
                    <div id="in_progress" class="tab-pane fade">
                        <table class="table">
                          <thead>
                            <tr>
                              <!-- <th>Project</th> -->
                              <th>Title</th>
                              <th>Description</th>
                              <th>Created by</th>
                              <th>Assigned to</th>
                              <th>Status</th>
                              <th colspan="3"></th>
                            </tr>
                          </thead>

                          <tbody>
                          <%= render partial: "tasks/task", collection: @in_progress_tasks, as: :task %>
                          </tbody>
                        </table>
                    </div>
                    <div id="completed" class="tab-pane fade">
                        <table class="table">
                          <thead>
                            <tr>
                              <!-- <th>Project</th> -->
                              <th>Title</th>
                              <th>Description</th>
                              <th>Created by</th>
                              <th>Assigned to</th>
                              <th>Status</th>
                              <th colspan="3"></th>
                            </tr>
                          </thead>

                          <tbody>
                          <%= render partial: "tasks/task", collection: @completed_tasks, as: :task if @completed_tasks %>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


