<!DOCTYPE html>
<html>
  <head>
    <title>TravelSoul</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
		<div class="container">
			<h1><%= link_to 'Task Tracker', root_path, :class=>'navbar-brand' %></h1>
			<!-- Navbar content -->
			
			<ul class="navbar float-left">
				<% if current_user %>
				  <li class="nav">
				    <%#= link_to 'Hotels', hotels_path, :class=>'link' %>
				  </li>
				  
			  <% end %>

			</ul>
			
			<ul class="navbar float-right">
			  <%= render 'devise/menu/registration_items' %>
			  <%= render 'devise/menu/login_items' %>
			</ul>
		</div>
	</nav>

  	<div id="content" class="container">
		  <% flash.each do |key, value| %>
		   <%= raw "<div class='row'><div class='col'><div class=\"alert alert-#{ key }\"> #{value} </div></div></div>" %>
		  <% end %>
    	<%= yield %>
    </div>
    <div id="new-modal" class="modal fade"></div>
  </body>
</html>
